@import "tailwindcss";
@import "antd/dist/reset.css";
@import "@radix-ui/themes/styles.css";

@layer base {
	:root {
		color-scheme: light;
	}
	html {
		background: #fcfbf8;
		color: #2d2d2d;
	}
	body {
		margin: 0;
		min-height: 100vh;
		font-family:
			ui-sans-serif,
			system-ui,
			-apple-system,
			'Segoe UI',
			Roboto,
			Helvetica,
			Arial,
			'Noto Sans',
			'Apple Color Emoji',
			'Segoe UI Emoji';
	}
	a {
		color: inherit;
		text-decoration: none;
	}

	.highlight-mengshou-wrap {
		border-radius: 0.15em;
	}

	.sx-react-calendar-wrapper {
		width: 100%;
		height: 100%;
	}
}
